$bgColorYellow:#fca311;
$bgColorRed:red;
$bgColorGreen:green;
$bgColorBrown:#3caea3;

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.jumbotron{
    background-color: $bgColorYellow;
    color: black;
  @include margenes(50px, 10px )
}
footer{
    padding: 10px 10px 0 10px;
    background-color: $bgColorYellow;
    @include margenes(10px, 0px )
}
.card-hotel{
    flex: 1 200px;
    @include margenes(10px, 0px )
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}
/*
.jumbotron {
    background-image: url(../images/slide.jpg);
    background-size: cover;
    height: 100%;
}
*/
.tab-content{
    padding-top: 10px;
}

span.fab {
    font-size: 20px;
    padding-right: 10px;

}

a{
    color:black;
}
#tlogo{
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    color: #e5e5e5;
}