@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Russo One'), local('RussoOne-Regular'), url(https://fonts.gstatic.com/s/russoone/v8/Z9XUDmZRWg6M1LvRYsH-yA.ttf) format('truetype');
}
.jumbotron {
  background-color: #fdfdfd;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #3caea3;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
/*
.jumbotron {
    background-image: url(../images/slide.jpg);
    background-size: cover;
    height: 100%;
}
*/
.tab-content {
  padding-top: 10px;
}
span.fab {
  font-size: 20px;
  padding-right: 10px;
}
a {
  color: black;
}
#tlogo {
  font-family: 'Russo One', sans-serif;
  font-size: 40px;
  color: #e5e5e5;
}
